<h1>Listing comment_types</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comment_types.each do |comment_type| %>
  <tr>
    <td><%= show_link comment_type %></td>
    <td><%= edit_link edit_comment_type_path(comment_type) %></td>
    <td><%= destroy_link comment_type %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Comment type', new_comment_type_path %>
