<% if can?(:create, Comment) %>
  <%= link_to 'Add Comment', new_comment_path, :remote => true %>
<% end %>

<div id="comments">
<% if @infraction.comments.any? %>
  <h4>Comments:</h4>
  <% @infraction.comments.each do |comment| %>
      <%= render :partial => 'comments/comment', :locals => { :comment => comment } %>
  <% end %>
<% end %>
</div>
