<div class = "detail_box">
<div class="box">
  <div class="topleft">
  <div class="topright">
    <div>
       <h4>Witnesses:</h4>
	<% if @infraction.witnesses.size > 0 %>
	  <% @infraction.witnesses.each do |witness| %>
	      <%=image_tag(witness.player.avatar.url(:thumb),:style => "height:36px;vertical-align:middle")%>
	      <%= witness.player.full_name %> (<%= witness.status %>)
	      <br />
	  <% end %>
	<%end%>
	<% if can?(:create, Witness.new(:infraction => @infraction)) %>
	  <br />	  
	  <%= link_to 'Add Witness', new_witness_path %>
	<% end %>
    </div>
  </div>
  </div>
  <div class="bottomleft">
  <div class="bottomright">
  </div>
  </div>
</div>
</div>
