<p>
  <b>Player:</b>
  <%= link_to @witness.player.full_name, @witness.player %>
</p>

<p>
  <b>Status:</b>
  <%= @witness.status %>
</p>

<% if can?(:update, @witness) %>
  <%= link_to 'Edit', edit_witness_path(@witness) %> |
<% end %>
<%= link_to 'Back', witnesses_path %>
