#header {
  background-color: #66CC00;
  height: 150px;
  width: 100%;
  float: left;
}

#header #logo {
  margin: 0 0 0 20%;
  float: left;
}

#header #login_info {
  text-align: right;
  padding: 5px 10px 0 0;
  float: right;
}

#main_menu {
  margin: 0 0 0 20%;
  clear: left;
  float: left;
  z-index: 2;
}

#main_menu ul {
  margin: 0;
  color: black;
  font-weight: bold;
}

#main_menu ul li.selected {
  float: left;
  list-style: none;
  padding: 5px;
  margin: 5px;
  margin-bottom: 0;
  background-color: white;
  cursor: pointer;
}

#main_menu ul li {
  float: left;
  list-style: none;
  padding: 5px;
  margin: 5px;
  margin-bottom: 0;
  background-color: #CCFF99;
  font-weight: bold;
  cursor: pointer;
}

#main_page {
  clear: left;
}

#content {
  float: left;
  padding-left: 15px;
  width: 75%;
}

#secondary_menu {
  float: left;
  background-color: #CCFF99;
  width: 20%;
  padding-left: 5px;
}
#secondary_menu ul {
  padding: 0;
}
#secondary_menu ul li {
  list-style: none;
  padding: 5px;
  margin: 5px;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

/*comments*/
.comment_container {
    float: left;
    width: 500px;
    margin-right: 10px;
    margin-left: 40px;
}
.comment {
     width: 500px;
     min-height: 50px;
     background-image: url(../images/comment/comment_middle.gif);
     background-repeat: repeat-y;
     margin: 0px 0px 0px 0px;
     padding: 10px 0px 0px 0px;
}
.comment_content {
     padding: 10px 5px 0px 20px;
     font-size: 12px;
}

.comment_footer {
     width: 500px;
     background-image: url(../images/comment/comment_finish.gif);
     background-position: 0% 100%;
     background-repeat: no-repeat;
     margin: 0px 0px 0px 0px;
     padding: 0px 0px 0px 0px;
}

/*details box*/


.detail_box {
  width: 25em;
  position:absolute;
  top:155px;
  right:0%;
}

.box {
  width: 25em;
  margin: 5px auto 5px auto;
  font-size: 12px;
  right:0%;
}

.topleft {
	display: block;
	background: url("../images/box/bg3.png") top left no-repeat white;
	padding: 1.0em 0em 0em 1.0em;
}

.topright {
	display: block;
	background: url("../images/box/bg3.png") top right no-repeat white;
	padding: 1.0em;
	margin: -1.0em 0 0 1.0em;
}

.bottomleft {
	display: block;
	height: 45px;
	margin-top: -1.0em;
	background: url("../images/box/bg3.png") bottom left no-repeat white;
}

.bottomright {
	display: block;
	background: url("../images/box/bg3.png") bottom right no-repeat white;
	height: 45px;
	margin-left: 3.0em;
}

/*main box*/
.main_box {
  width: 60em;
  margin: 0 0 0 0;
  font-size: 12px;
}

.main_box_topleft {
	display: block;
	background: url("../images/box/bg3.png") top left no-repeat white;
	padding: 2.0em 0em 0em 2.0em;
}

.main_box_topright {
	display: block;
	background: url("../images/box/bg3.png") top right no-repeat white;
	padding: 2.0em;
	margin: -2.0em 0 0 2.0em;
}

.main_box_bottomleft {
	display: block;
	height: 45px;
	margin-top: -2.0em;
	background: url("../images/box/bg3.png") bottom left no-repeat white;
}

.main_box_bottomright {
	display: block;
	background: url("../images/box/bg3.png") bottom right no-repeat white;
	height: 45px;
	margin-left: 3.0em;
}
