#header {
  background-color: #66CC00;
  height: 150px;
  width: 100%;
  float: left;
}

#header #logo {
  margin: 0 0 0 20%;
  float: left;
}

#header #login_info {
  text-align: right;
  padding: 5px 10px 0 0;
  float: right;
}

#main_menu {
  margin: 0 0 0 20%;
  clear: left;
  float: left;
  z-index: 2;
}

#main_menu ul {
  margin: 0;
  color: black;
  font-weight: bold;
}

#main_menu ul li.selected {
  float: left;
  list-style: none;
  padding: 5px;
  margin: 5px;
  margin-bottom: 0;
  background-color: white;
  cursor: pointer;
}

#main_menu ul li {
  float: left;
  list-style: none;
  padding: 5px;
  margin: 5px;
  margin-bottom: 0;
  background-color: #CCFF99;
  font-weight: bold;
  cursor: pointer;
}

#main_page {
  clear: left;
}

#content {
  float: left;
  padding-left: 15px;
  width: 75%;
}

#secondary_menu {
  float: left;
  background-color: #CCFF99;
  width: 20%;
  padding-left: 5px;
}
#secondary_menu ul {
  padding: 0;
}
#secondary_menu ul li {
  list-style: none;
  padding: 5px;
  margin: 5px;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

#infraction_witnesses {
  position: absolute;
  top: 180px;
  right: 20px;
  background-color: #CCFF99;
  width: 300px;
}

#infraction_witnesses table {
  margin-left:auto; margin-right:auto;
}	

#infraction_witnesses table tr td{
  font-size: 10px;
}

#infraction_witnesses table tr th{
  font-weight: bold;
  font-size: 10px;
}


.sticky_note_container {
    float: left;
    width: 500px;
    margin-right: 10px;
    margin-left: 40px;
}
.sticky_note {
     width: 500px;
     min-height: 50px;
     background-image: url(../images/note_middle.gif);
     background-repeat: repeat-y;
     margin: 0px 0px 0px 0px;
     padding: 10px 0px 0px 0px;
}
.sticky_note_content {
     padding: 10px 5px 0px 20px;
     font: Comic Sans MS, Cursive, Serif;
     font-size: 12px;
}

.sticky_note_footer {
     width: 500px;
     background-image: url(../images/note_finish.gif);
     background-position: 0% 100%;
     background-repeat: no-repeat;
     margin: 0px 0px 0px 0px;
     padding: 0px 0px 0px 0px;
}
