#header {
  background-color: #66CC00;
  height: 150px;
  width: 100%;
  float: left;
}

#header #login_info {
  text-align: right;
  padding: 5px 10px 0 0;
  float: right;
}

#main_menu {
  margin: 0px 0 0 20%;
  float: left;
    z-index: 2;
}

#main_menu ul {
  margin: 0;
  color: black;
  font-weight: bold;
}

#main_menu ul li.selected {
  float: left;
  list-style: none;
  padding: 5px;
  margin: 5px;
  margin-bottom: 0;
  background-color: white;
  cursor: pointer;
}

#main_menu ul li {
  float: left;
  list-style: none;
  padding: 5px;
  margin: 5px;
  margin-bottom: 0;
  background-color: #CCFF99;
  font-weight: bold;
  cursor: pointer;
}

#main_page {
  clear: left;
}

#content {
  float: left;
  padding-left: 15px;
  width: 75%;
}

#secondary_menu {
  float: left;
  background-color: #CCFF99;
  width: 20%;
  padding-left: 5px;
}
#secondary_menu ul {
  padding: 0;
}
#secondary_menu ul li {
  list-style: none;
  padding: 5px;
  margin: 5px;
  color: black;
  font-weight: bold;
  cursor: pointer;
}
