<p>
  Feel free to <%= link_to 'unsubscribe', '#unsubscribe_path(params, { :only_path => false })' %> if you don't want to receive this kind of notifications, 
  or customize your <%= link_to 'notification settings', '#notification_settings_path(params, { :only_path => false })' %> on your account.
</p>
<p>
  Thanks,<br />
  Avantica Green
</p>