<p>Hello <%= @player.full_name %>,</p>
<p>Infraction was updated to <%= @infraction.status.name %></p>

<%= url_for(:host => "example.com", :controller => "infractions", :action => "show", :id => @infraction.id) %>
