<p>Hello <%= @witness.player.full_name %>,</p>

<% if @action == 'added' %>
  <p>Please accept or reject your role as a witness for <%= link_to 'this infraction', @infraction %></p>
<% else %>


<%= url_for(:host => "example.com", :controller => "infractions", :action => "show", :id => @infraction.id) %>
