<%
  player_infractions ||= @player_infractions
  witnesses ||= @witnesses
  pending_witnesses ||= @pending_witnesses
  accepted_witnesses ||= @accepted_witnesses
  rejected_witnesses ||= @rejected_witnesses
%>

<% if player_infractions.any? || witnesses.any? %>
<div class = "detail_box">
  <% if player_infractions.any? %>
    <%= render :partial => 'infractions/list', :locals => {
      :infractions => player_infractions, 
      :type => 'offender', 
      :title => 'Infractions reported by this player'
    } %>
  <% end %>
  <div id="test_div"></div>

  <% if pending_witnesses.any? %>
    <%= render :partial => 'infractions/list', :locals => {
      :infractions => pending_witnesses.map { |witness| witness.infraction }, 
      :witnesses => pending_witnesses, 
      :type => 'offender', 
      :title => 'This player has been requested as a witness of the following infractions'
    } %>
  <% end %>

  <% if accepted_witnesses.any? %>
    <%= render :partial => 'infractions/list', :locals => {
      :infractions => accepted_witnesses.map { |witness| witness.infraction }, 
      :type => 'offender', 
      :title => 'This player is a witness of these infractions'
    } %>
  <% end %>

  <% if rejected_witnesses.any? %>
    <%= render :partial => 'infractions/list', :locals => {
      :infractions => rejected_witnesses.map { |witness| witness.infraction }, 
      :type => 'offender', 
      :title => 'Player has rejected being a witness of the following infractions'
    } %>
  <% end %>
</div>
<% end %>
