/* Green ToolTip */
/*****************/

#tooltipContainer
{
    position:absolute;
    left:0;
    top:0;
    display:none;
    z-index: 20000;
}

.tooltipPopup
{
  width: 400px;
}

#tooltipPopupContent
{
    background-color: #FFF;
    min-width: 175px;
    min-height: 50px;
}

.tooltipPopup .tooltipPopupImage
{
    margin: 5px;
    margin-right: 15px;
}

.tooltipPopup .corner 
{
    width: 19px;
    height: 15px;
}
    
.tooltipPopup .topLeft 
{
    background: url(tooltip/topLeft.png) no-repeat;
}
    
.tooltipPopup .bottomLeft 
{
    background: url(tooltip/bottomLeft.png) no-repeat;
}
    
.tooltipPopup .left 
{
    background: url(tooltip/left.png) repeat-y;
}
    
.tooltipPopup .right 
{
    background: url(tooltip/right.png) repeat-y;
}
    
.tooltipPopup .topRight 
{
    background: url(tooltip/topRight.png) no-repeat;
}
    
.tooltipPopup .bottomRight 
{
    background: url(tooltip/bottomRight.png) no-repeat;
}
    
.tooltipPopup .top 
{
    background: url(tooltip/top.png) repeat-x;
}
    
.tooltipPopup .bottom 
{
    background: url(tooltip/bottom.png) repeat-x;
    text-align: center;
}

.tooltipPopup .scrollable{
  overflow: scroll;
  width: 275px;
  max-height: 300px
}

