<%= form_for(@suggestion_type) do |f| %>
  <% if @suggestion_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@suggestion_type.errors.count, "error") %> prohibited this suggestion_type from being saved:</h2>

      <ul>
      <% @suggestion_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
