<h1>Listing suggestion_types</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @suggestion_types.each do |suggestion_type| %>
  <tr>
    <td><%= link_to 'Show', suggestion_type %></td>
    <td><%= link_to 'Edit', edit_suggestion_type_path(suggestion_type) %></td>
    <td><%= link_to 'Destroy', suggestion_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Suggestion type', new_suggestion_type_path %>
