<h1>Listing suggestion_types</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @suggestion_types.each do |suggestion_type| %>
  <tr>
    <td><%= show_link suggestion_type %></td>
    <td><%= edit_link edit_suggestion_type_path(suggestion_type) %></td>
    <td><%= destroy_link suggestion_type %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Suggestion type', new_suggestion_type_path %>
