<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hello <%= @recipient.full_name %>,</p>
    <%= yield %>
    <p>
      Thanks,<br />
      Avantica Green
    </p>
    <p style="text-align: center">
      Don't want to receive more emails like this? Change your
      <%= link_to "notification settings", edit_player_path(@recipient, options_for_mail_link) %>.
    </p>
  </body>
</html>
