<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hello <%= @recipient.full_name %>,</p>
    <%= yield %>
    <p>
      Thanks,<br />
      Avantica Green
    </p>
  </body>
</html>